@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
dsfad
<p>Use this page to detail your site's privacy policy.
    dfgdsgfgd fdfddsa fgfsdgfg</p><p>dsafdsaff</p>
